# Python virtual environment
.venv/

# local environment dev config
ruff.toml
.zed/

# Secrets config file
.env

# Compiled Python files
__pycache__/
*.pyc

# Build Artifacts
build/
*.egg-info/

# Test files
*.csv
